@model IEnumerable<glimpse.Models.Mail>
@{
    ViewBag.Title = "Bandeja de entrada";
}

<h2>Main</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>

    </tr>
}