@using Glimpse.DataAccessLayer.Entities
@using Glimpse.ViewModels

@section css {
    @Styles.Render("~/Home/css")
    @Styles.Render("~/Content/ui-lightness/jquery-ui-1.10.3.custom.css")
}
@section scripts {
    @Scripts.Render("~/bundles/jquerymousewheel")
    @Scripts.Render("~/bundles/glimpse")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.3.custom.js")
}

@{
    ViewBag.Title = "Index";        
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Glimpse</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Has iniciado sesión con tu cuenta <a href="#" class="navbar-link">@ViewBag.Username</a>
                    @Html.ActionLink("Salir", "Logout", "Account", null, new { @class = "navbar-link" })
                </p>
                <ul class="nav">
                    <li class="active"><a href="#">Inicio</a></li>
                    <li><a href="#about">Acerca de</a></li>
                    <li><a href="#contact">Contacto</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div id="mail-view" class="modal hide fade in" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <table style="width: 90%">
            <tr style="width: 100%">
                <td style="width: 80%">
                    <div class="lead" id="mail-view-subject">
                        <p>Subject</p>
                    </div>
                </td>
                <td>
                    <div id="mail-view-date-container" class="pull-right lead panel panel-info">
                        <div class="panel-heading">
                            <h6 id="mail-view-date" class="panel-title"></h6>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div id="mail-view-header">
            <table class="mail-view-addresses well well-lg">
                <tr>
                    <td colspan="2">
                        <p class="mail-view-address">
                            <span class="label label-info">From:</span>
                            <span id="mail-view-from"></span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="mail-view-address">
                            <span class="label label-info">To:</span>
                            <span id="mail-view-to"></span>
                        </p>
                    </td>
                    <td>
                        <p id="mail-view-cc-container" class="mail-view-address">
                            <span class="label label-info">CC:</span>
                            <span id="mail-view-cc"></span>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="mail-view-body-container" class="modal-body">
        <div id="mail-view-body" class="well"></div>
        <div class="panel panel-primary" id="mail-view-attach-container">
            <div class="panel-heading">
                <h3 class="panel-title">Adjuntos:</h3>
            </div>
            <div class="panel-body" id="mail-view-attachments"></div>
        </div>
        <div id="body-progress" class="progress progress-striped active">
            <div class="bar" style="width: 100%;">Cargando...</div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn mail-reply" data-dismiss="modal">Responder</a>
        <a href="#" class="btn mail-replyall" data-dismiss="modal">Responder a todos</a>
        <a href="#" class="btn mail-forward" data-dismiss="modal">Reenviar</a>

        <a href="#" class="btn pull-left" title="Ir atrás en la cadena"><i class="icon-chevron-left"></i></a>
        <a href="#" class="btn pull-left" title="Ir adelante en la cadena"><i class="icon-chevron-right"></i></a>
        <span class="separator pull-left"><i class="icon-minus"></i></span>
        <a href="#" class="btn btn-danger pull-left" data-dismiss="modal">Cerrar</a>
    </div>
</div>

<div class="container-fluid">

    <div class="row-fluid">
        <div class="span2">
            <div id="panel" class="well sidebar-nav">
                <a href="#compose" id="compose" class="btn btn-block">Redactar</a>

                <ol id="labels-header" class="nav nav-list">

                    <li class="nav-header">Carpetas</li>
                    <li class="nav-header">Etiquetas</li>

                </ol>

            </div>
            <!--/.well -->

            <div id="circles-progress" class="progress progress-striped active">
                <div class="bar" style="width: 100%;">Cargando...</div>
            </div>

        </div>
        <!--/span-->

        <script>
            var labels = @Html.Raw(Json.Encode(ViewBag.Labels));
            var oldestAge = @ViewBag.OldestAge;
        </script>

        <div id="email-container" class="span10 well">

            <div class="icons">
                <i id="zoom-in" class="icon icon-zoom-in"></i>
                <i id="zoom-out" class="icon icon-zoom-out"></i>
                <i id="refresh" class="icon icon-refresh"></i>
            </div>


            <div id="date-today" class="coord date-coord"></div>
            <div id="date-last" class="coord date-coord"></div>
            <div id="dateTime" class="coord date-coord hidable hidden"></div>
            <div id="from" class="coord hidable hidden"></div>

        </div>


    </div>
    <!--/row-->
    <form class="form-inline pull-left">
        <label>Cantidad máxima</label>
        <input id="max-amount" type="number" min="1" max="100" value="30">
    </form>

    <div class="row-fluid">
        <div class="pull-right">
            <label class="checkbox">
                <input id="transitions-check" type="checkbox" checked value="">
                Desactivar animaciones (para equipos menos potentes)
            </label>
        </div>
    </div>

    <footer>
        <p>&copy; glimpse 2013</p>
    </footer>

</div>

<!--Mails Editor-->
<div id="compose_pannel">
    <div class="ui-dialog-content">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td>
                        <textarea rows="1" placeholder="Destinatarios..." id="email-to" class="compose-text"></textarea></td>
                </tr>
                <tr>
                    <td>
                        <textarea rows="1" placeholder="Asunto..." id="email-subject" class="compose-text"></textarea></td>
                </tr>
                <tr>
                    <td>
                        <textarea cols="80" id="text_editor" rows="10"></textarea></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui-dialog-buttonpane"></div>
</div>
<!--/.fluid-container-->
