@using Glimpse.DataAccessLayer.Entities

@section css {
    @Styles.Render("~/Home/css")}
@section scripts {
    @Scripts.Render("~/bundles/emails-modal")}

@{
    ViewBag.Title = "Index";
    ViewBag.MaxAge = 0;
        
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Glimpse</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Logged in as <a href="#" class="navbar-link">@ViewBag.Email</a>
                    @Html.ActionLink("Logout", "Logout", "Account", null, new { @class= "navbar-link"})
                </p>
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div id="example" class="modal hide fade in" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-success">Call to action</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

<div class="container-fluid">

    <div class="row-fluid">
        <div class="span2">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Sidebar</li>
                    <li class="active"><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="nav-header">Sidebar</li>
                    <li><a href="#">Link</a></li>
                    <li class="nav-header">Sidebar</li>
                    <li><a href="#">Link</a></li>

                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->

        <div id="email-container" class="span10">

            @foreach (MailEntity inboxMail in ViewBag.InboxMessages)
            {
                Int64 age = DateTime.Now.Ticks - inboxMail.Date.Ticks;

                if (age > ViewBag.MaxAge) {
                    ViewBag.MaxAge = age;  
                }
                    
                <a data-toggle="modal" href="#example">
                    <div class="circle" data-body="@inboxMail.Body"
                                            data-subject="@inboxMail.Subject"
                                            data-date="@inboxMail.Date"
                                            data-from="@inboxMail.From.MailAddress"
                                            data-age="@age">
                        <p class="subject">@inboxMail.Subject</p>
                        <p>@inboxMail.From.MailAddress</p>
                    </div>
                </a>
            }

        </div>

        <script>
            var maxAge = @ViewBag.MaxAge;
        </script>

    </div>
    <!--/row-->

    <hr>

    <footer>
        <p>&copy; glimpse 2013</p>
    </footer>

</div>


<!--/.fluid-container-->
