@using ActiveUp.Net.Mail

@{
    ViewBag.Title = "Index";
}


<h2>Página principal!</h2>

@Html.ActionLink("Logout", "Logout", "Account")

<br /><br />

<p>Dirección de Correo: @ViewBag.Email</p><br />S
<p>Contraseña sin cifrar: @ViewBag.Password</p>

@foreach (Message inboxMail in ViewBag.InboxMessages)
{
    <p>Email de: @inboxMail.From.Email.ToString()</p>
    <p>Asunto: @inboxMail.Subject</p>
    <p>Fecha: @inboxMail.Date.ToString()</p>
}