@using Glimpse.DataAccessLayer.Entities
@using Glimpse.ViewModels

@section css {
    @Styles.Render("~/Home/css")
    @Styles.Render("~/Content/ui-lightness/jquery-ui-1.10.3.custom.css")
}
@section scripts {
    @Scripts.Render("~/bundles/jquerymousewheel")
    @Scripts.Render("~/bundles/glimpse")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.3.custom.js")
}

@{
    ViewBag.Title = "Glimpse";        
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Glimpse</a>
            <div class="nav-collapse collapse">
                @{Html.RenderPartial("config_dropdown");}
                <ul class="nav">
                    <li class="active"><a href="#">Inicio</a></li>
                    <li><a id="about-us-trigger" href="#">Sobre nosotros</a></li>
                    <li><a href="mailto:glimpseinnovationsystems@gmail.com">Contacto</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

@{Html.RenderPartial("mail_view");}

<div class="container-fluid">

    <div class="row-fluid">
        <div class="span2" id="main-left-panel">
            <div id="panel" class="well sidebar-nav">
                <a href="#compose" id="compose" class="btn btn-block">Redactar</a>
                <hr />
                <div id="main-labels-cont" class="scrollable">
                    <ol id="labels-header" class="nav nav-list">
                        <li class="nav-header">Carpetas</li>
                        <li class="nav-header">Etiquetas <span id="create-label" class="pull-right" title="Nueva etiqueta"><i class="icon-pencil"></i></span></li>
                    </ol>
                </div>
                <hr />
                <div id="circles-progress" class="progress progress-striped active">
                    <div class="bar" style="width: 100%;">Cargando...</div>
                </div>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->

        <script>
            var labels = @Html.Raw(Json.Encode(ViewBag.Labels));
            var oldestAge = @ViewBag.OldestAge;
        </script>

        <div class="span10" style="height: 560px">
            <div id="mailaccounts-container" class="well well-small">
                <ul class="nav nav-pills">
                </ul>
            </div>
            <div id="container-wrapper" class="well">

                <div class="icons">
                    <i id="zoom-in" class="icon icon-zoom-in"></i>
                    <i id="zoom-out" class="icon icon-zoom-out"></i>
                </div>

                <div id="email-container" class="well">
                </div>
                <div id="date-today" class="coord date-coord"></div>
                <div id="date-last" class="coord date-coord"></div>
                <div id="dateTime" class="coord date-coord hidable hidden"></div>
                <div id="from" class="coord hidable hidden"></div>
            </div>

        </div>

        <form class="form-inline pull-right hidden">
            <label>Cantidad máxima</label>
            <input id="max-amount" type="number" min="1" max="100" value="30">
        </form>


    </div>
    <!--/row-->

    @*<hr />*@

    <footer>
        <p>&copy; glimpse 2013</p>
    </footer>

</div>

@{Html.RenderPartial("compose_panel");}

<script>
    var user_isGlimpseUser = @Html.Raw(Json.Encode(ViewBag.IsGlimpseUser));

    var user_firstname = @Html.Raw(Json.Encode(ViewBag.Firstname));
    var user_lastname = @Html.Raw(Json.Encode(ViewBag.Lastname)); 
    var user_country = @Html.Raw(Json.Encode(ViewBag.Country));
    var user_city = @Html.Raw(Json.Encode(ViewBag.City));
    var user_telephone = @Html.Raw(Json.Encode(ViewBag.Telephone));
    
    var user_personal_data = {
        firstName: user_firstname,
        lastName: user_lastname,
        country:user_country,
        city: user_city,
        tel:user_telephone
    };

    var user_mailAccounts = @Html.Raw(Json.Encode(ViewBag.MailAccounts));
</script>

@{Html.RenderPartial("config_view");
  Html.RenderPartial("about_us");}