@using ActiveUp.Net.Mail

@{
    ViewBag.Title = "Index";
}

<h2>Página principal!</h2>

<p>Dirección de Correo: @ViewBag.Email</p><br />
<p>Contraseña (cifrada): @ViewBag.PasswordEncrypted</p>
<p>Contraseña sin cifrar: @ViewBag.Password</p>

@foreach (Message inboxMail in ViewBag.InboxMessages)
{
    <p>Email de: @inboxMail.Sender.Email</p>
    <p>Asunto: @inboxMail.Subject</p>
    <p>Fecha: @inboxMail.DateString</p>
}