@using Glimpse.DataAccessLayer.Entities
@using Glimpse.ViewModels

@section css {
    @Styles.Render("~/Home/css")
    @Styles.Render("~/Content/ui-lightness/jquery-ui-1.10.3.custom.css")
}
@section scripts {
    @Scripts.Render("~/bundles/jquerymousewheel")
    @Scripts.Render("~/bundles/glimpse")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.3.custom.js")
}

@{
    ViewBag.Title = "Index";        
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Glimpse</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Has iniciado sesión con tu cuenta <a href="#" class="navbar-link">@ViewBag.Email</a>
                    @Html.ActionLink("Salir", "Logout", "Account", null, new { @class = "navbar-link" })
                </p>
                <ul class="nav">
                    <li class="active"><a href="#">Inicio</a></li>
                    <li><a href="#about">Acerca de</a></li>
                    <li><a href="#contact">Contacto</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div id="body-modal" class="modal hide fade in" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>De: </h3>
    </div>
    <div class="modal-body">
        <h4>Asunto</h4>
        <div id="bodyhtml"></div>
        <div id="body-progress" class="progress progress-striped active">
            <div class="bar" style="width: 100%;">Cargando...</div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-success">Call to action</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

<div class="container-fluid">

    <div class="row-fluid">
        <div class="span2">
            <div id="panel" class="well sidebar-nav">
                <a href="#compose" id="compose" class="btn btn-block">Redactar</a>

                <ol id="labels-header" class="nav nav-list">

                    <li class="nav-header">Etiquetas</li>

                    @{
                        foreach (LabelViewModel label in ViewBag.Labels)
                        {
                            
                        <li class='label label-glimpse' data-name="@label.showName" data-system="@label.systemName">@label.showName</li>                         
                        
                        }
                    }

                </ol>

            </div>
            <!--/.well -->

            <div id="circles-progress" class="progress progress-striped active">
                <div class="bar" style="width: 100%;">Cargando...</div>
            </div>

        </div>
        <!--/span-->

        <div id="email-container" class="span10">

            <div class="zoom">
                <i id="zoom-in" class="icon-zoom icon-zoom-in icon-white"></i>
                <i id="zoom-out" class="icon-zoom icon-zoom-out icon-white"></i>
            </div>

            <div id="date-today" class="coord date-coord"></div>
            <div id="date-last" class="coord date-coord"></div>
            <div id="dateTime" class="coord date-coord hidable hidden"></div>
            <div id="from" class="coord hidable hidden"></div>

        </div>


    </div>
    <!--/row-->

    <div class="row-fluid">
        <div class="pull-right">
            <label class="checkbox">
                <input id="transitions-check" type="checkbox" value="">
                Desactivar animaciones (para equipos menos potentes)
            </label>
        </div>
    </div>

    <footer>
        <p>&copy; glimpse 2013</p>
    </footer>

</div>

<!--Mails Editor-->
<div id="compose_pannel">
    <div class="ui-dialog-content">
        <table style="width: 100%;">
            <tbody>
                <tr><td><textarea rows="1" placeholder="Destinatarios..." id="email-to" class="compose-text"></textarea></td></tr>
                <tr><td><textarea rows="1" placeholder="Asunto..." id="email-subject" class="compose-text"></textarea></td></tr>
                <tr><td><textarea cols="80" id="text_editor" rows="10"></textarea></td></tr>
            </tbody>
        </table>
    </div>
    <div class="ui-dialog-buttonpane"></div>
</div>
<!--/.fluid-container-->
