@{Html.EnableClientValidation(true); }
@model glimpse.Models.User

@{
    ViewBag.Title = "Index";
}


<div class="container">
        @using (Html.BeginForm("Index", "Account", FormMethod.Post, new {@class = "form-signin"})) 
        {
            @Html.AntiForgeryToken()
            <h2 class="form-signin-heading">Please sign in</h2>

            @Html.TextBoxFor(m => m.Email, new { type = "email", placeholder = "address@example.com", @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.Email)
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password...", @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.Password)
            <input class="btn btn-large btn-primary" type="submit" value="Entrar" />
    
        }
</div>