@using Glimpse.Helpers
@model Glimpse.ViewModels.UserViewModel

@section css {
    @Styles.Render("~/Login/css")
    @Styles.Render("~/Content/ui-lightness/jquery-ui-1.10.3.custom.css")
}

@section scripts{
    @Scripts.Render("~/bundles/registration")
    @Scripts.Render("~/bundles/glimpse")
    @Scripts.Render("~/bundles/jqueryval")
}

@{
    ViewBag.Title = "Glimpse";
}
<div id="upper"></div>

<div id="info" class="span3 offset1">
    <div>
        <p id="glimpse-brand">Glimpse</p>
        <p id="slogan">estilo en tu correo</p>
    </div>
    <div id="glimpse-balls" class="well"></div>
</div>

<div class="container">

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.AntiForgeryToken()
        <h2 class="form-signin-heading">Ingresar</h2>
        
        @Html.ValidationSummary()
        @Html.TextBoxFor(m => m.Username, new { placeholder = "Tu usuario o dirección de correo", @class = "input-block-level", id = "username", autofocus = "autofocus" })
        @Html.PasswordFor(m => m.Password, new { placeholder = "Tu contraseña", @class = "input-block-level" })
        
        <input class="btn btn-primary btn-success" type="submit" value="Entrar" />
        <a class="btn btn-default" id="registration-link">Crear nueva cuenta Glimpse</a>
        <a class="btn btn-link" id="forgot-password" style="margin-left: -4%">Olvidé mi contraseña...</a>
    }

    @{Html.RenderPartial("register_view");}

</div>

