@using glimpse.Helpers
@model glimpse.ViewModels.UserViewModel

@section css {
    @Styles.Render("~/Login/css")
}

@{
    ViewBag.Title = "Login";
}

<div class="container">

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.AntiForgeryToken()
        <h2 class="form-signin-heading">Welcome to glimpse</h2>
        @Html.ValidationSummary()
        @Html.TextBoxFor(m => m.Email, new { type = "email", placeholder = "address@example.com", @class = "input-block-level" })
        @Html.ValidationMessageFor(m => m.Email)
        @Html.PasswordFor(m => m.Password, new { placeholder = "Password...", @class = "input-block-level" })
        @Html.ValidationMessageFor(m => m.Password)
        
        @Html.DisplayTextFor(m => m.rememberMe)
        @Html.CheckBoxFor(m => m.rememberMe, new { @class = "input-block-level" })
        

        <input class="btn btn-large btn-primary" type="submit" value="Entrar" />
    
    }
</div>
