@using Glimpse.Helpers
@model Glimpse.ViewModels.UserViewModel

@section css {
    @Styles.Render("~/Login/css")
}

@section scripts{
    @Scripts.Render("~/bundles/registration")
}

@{
    ViewBag.Title = "Glimpse";
}

<div class="container">

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.AntiForgeryToken()
        <h2 class="form-signin-heading">Bienvenido a Glimpse</h2>
        @Html.ValidationSummary()
        @Html.TextBoxFor(m => m.Username, new { placeholder = "Tu usuario o dirección de correo...", @class = "input-block-level" })
        @Html.PasswordFor(m => m.Password, new { placeholder = "Tu contraseña...", @class = "input-block-level" })
        
        <input class="btn btn-large btn-primary" type="submit" value="Entrar" />
        <a class="btn btn-link" id="registration-link">Crear nueva cuenta Glimpse</a>
    }

    <div id="registration-view" class="modal hide fade in" style="display: none;">
        <div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "registration-modal" }))
        {
            @Html.AntiForgeryToken()
            <h3 class="form-signin-heading" id="regitration-view-title">Crea tu usuario Glimpse</h3>
            @Html.TextBoxFor(m => m.Firstname, new { placeholder = "Escribí tu nombre...", @class = "input-block-level" })
            @Html.TextBoxFor(m => m.Lastname, new { placeholder = "Escribí tu apellido...", @class = "input-block-level" })
            @Html.TextBoxFor(m => m.Username, new { placeholder = "Elegí un nombre de usuario...", @class = "input-block-level" })
            @Html.PasswordFor(m => m.Password, new { placeholder = "Ingresá tu contraseña...", @class = "input-block-level" })
            @Html.PasswordFor(m => m.ConfirmationPassword, new { placeholder = "Confirmá tu contraseña...", @class = "input-block-level" })
            
            <input class="btn btn-default" id="registration-next-btn" type="submit" value="Siguiente" />
            <input class="btn btn-default" id="registration-back-btn" type="submit" value="Volver" />
            <input class="btn btn-primary" id="registration-register-btn" type="submit" value="Registrar usuario" />
        }
    </div>

</div>

